[Unit]
Description=go webcam stream
Documentation=https://github.com/KobayashiRui/klipper-stream
After=udev.service network-online.target nss-lookup.target
Wants=udev.service network-online.target
Before=nginx.service
StartLimitBurst=10
StartLimitIntervalSec=180

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=%USER%
RemainAfterExit=Yes
WorkingDirectory=/home/%USER%/klipper-stream
#EnvironmentFile=%ENV%
ExecStart=/home/%USER%/klipper-stream/build/klipper-stream
Restart=on-failure
RestartSec=5